<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TodoList</title>
  <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
      <h1>FSD</h1>
      <div class="box">
        <div id="heading">
          <h2>MAY  24TH  2024</h2>
        </div>
        <div class="item">
          <input type="checkbox">
          <p>Finish Coding Project</p>
        </div>
        <div class="item">
          <input type="checkbox">
          <p>Submit reports by saturday</p>
        </div>
        <div class="item">
          <input type="checkbox">
          <p>write Blog Post</p>
        </div>
      </div>
      <form>
        <input type="text" placeholder="Enter something...">
        <button>+</button>
      </form>
      <footer>Thankyou</footer>
    </body>
    </html>
